
body{
	background:url("../images/bg5.jpg") repeat !important;
/*	 background-color: #F2EFE1 !important;*/
	font-family:open-sans;
	font-size:12px;
}
p{
	font-family:"Arial";
	font-size:12px;
}
.search{
	background:none;
	padding-left:20px;
}
#edit-message
{
   height:100px;	
}
	
#block-block-1 {
    border-top: 1px solid #e1e1e1;
}

ul.menu
{
   padding:0;
   margin:0;	
}

#search{
	float:right;
	margin:20px 0 -32px 0;
	background:#fafafa;
	border:1px solid #e1e1e1;
	padding:10px 10px 10px 30px;
	-webkit-border-radius: 70px 15px 0 0;
    -moz-border-radius: 70px 15px 0 0;
    border-radius: 70px 15px 0 0;
	height:33px;
}
form{
margin-bottom:0;
}

#block-search-form input[type="submit"]{
	font-size: 0;
background: url("../images/search.png") no-repeat;
height: 20px;
width: 20px;
border: none;
margin-top: -42px !important;
margin-right: 5px;
position: relative;
float: right;
background-position: center right;
}
.nav{
	font-family:"Arial";
	font-size:14px;
}
.menu-bg{
	background:url("../images/menu-bg.png") repeat-x;
	padding:0 10px;
	margin-top:20px;
	border-radius:16px 16px 0 0;
	position:relative;
}
.logo{
	margin-left:-11px;
}
.container-bg{
	background:#fff;
	border-left:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
	padding:10px;
}
#slideshow img{
	-webkit-border-radius: 40px 0 40px 0;
     -moz-border-radius: 40px 0 40px 0;
          border-radius: 40px 0 40px 0;
	    padding:2px;
	 -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07);
     -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07);
}
#custom-block{
	margin-bottom:20px;
}

#custom-block img{
	-webkit-border-radius: 25px 0 25px 0;
     -moz-border-radius: 25px 0 25px 0;
          border-radius: 25px 0 25px 0;
	padding:2px;
	 -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07);
     -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07);
}
.custom{
	border:1px solid #B7B7B7;
	margin-bottom:20px;
	-webkit-border-radius: 12px;
     -moz-border-radius: 12px;
          border-radius: 12px;
}
.custom a,.custom a:hover{
    color:#fff;
	font-size:16px;
	font-family:open-sans;
}
.custom-content{
		padding:5px;
}
.custom img{
	float:right;
}
.bottom-border{
	border-bottom:8px solid #d8fdaa;
	margin-bottom:20px;
}
h2 {
	margin-bottom:10px;
	text-align:left;
}


.inner-article .article h2 a,.inner-article .article h2 a:hover{
	border-bottom:1px solid #6aa224;
	text-decoration:none;
}


ul.inline, ul.links.inline{
        display: list-item !important;
	list-style:none !important;
	list-style-type:none !important;
	margin-left:0 !important;
}

ul.inline li{
	padding:0 !important;
}

.readmore-bg{
	background:url("../images/readmore.png") no-repeat right 0,url("../images/readmore-bg.png") repeat-x;
	padding:10px 40px 10px 10px;
	margin:19px 0 -5px 0;
	text-align:right;
	-webkit-border-radius: 0 0 15px 15px;
     -moz-border-radius: 0 0 15px 15px;
          border-radius: 0 0 15px 15px;
}

.inner-article .article{
	border-bottom:1px solid #ccc;
}

.article-seperator{
	border-bottom:1px solid #e1e1e1;
	margin:20px 0 15px 0;
}

.article img{
	border:1px solid #e1e1e1;
	width:238px;
	float:left;
	margin-right:15px;
	 margin-top: 5px;
	
}
.node-readmore{
	font-family:open-sans;
	font-size:15px;
	color:#303030;
}
.toolbar-shortcuts ul.menu li{
	list-style:none !important;
	list-style-type:none !important;
}

ul.menu li{
	list-style:url("../images/bullet.png") !important;
	font-family:"Arial";
	font-size:12px;
	line-height:26px;
	
}


#top-post h3{
	font-size:18px;
}

.post{
	border-bottom:1px dashed #e1e1e1;
	margin-bottom:5px;
}
.last-post{
  border-bottom:none;
}
#sidebar-left{
	border-left:1px solid #ccc;
	padding-left:10px;
}
#gallery img{
	border:1px solid #e1e1e1;
	padding:2px;
	margin:5px 4px;
	-webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.gallery-border{
	text-align:center;
	border:1px solid #e1e1e1;
	-webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
	padding:5px;
	margin-bottom:20px;	
}
.module{
	margin-bottom:20px;
}

.module h2{
	font-size:16px;
}

.black h2{
	padding-left:8px;
	border-bottom:5px solid #333434;	
	margin-bottom:0px;
}
.green h2{
	padding-left:8px;
	border-bottom:5px solid #77a84f;	
	margin-bottom:0px;
}
.module img{
	margin:0;
	padding:0;
	width:100%;
}
.black{
	color:#fff;
	background:#242525;
	-webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;;
}
.green{
	color:#272727;
	background:#d8fdaa;
	-webkit-border-radius: 10px;
        -moz-border-radius: 10px;
          border-radius: 10px;
}
.readmore-black,.readmore-black:hover{
    background:url("../images/readmore-black.png") no-repeat;
	padding:5px 20px 10px 6px;
	color:#fff;
	line-height:34px;
	font-family:open-sans;
	font-size:17px;
}
.readmore-green,.readmore-green:hover{
    background:url("../images/readmore-green.png") no-repeat;
	padding:5px 20px 10px 6px;
	color:#fff;
	line-height:34px;
	font-family:open-sans;
	font-size:17px;
}
#bottom img{
	margin-bottom:-8px;
	-webkit-border-radius:10px;
        -moz-border-radius: 10px;
          border-radius: 10px;
 	 width:100%;
	position:relative;
	z-index:20;	  
}
.more-articles,.btn,.btn:hover,
.btn-group > .btn,
.btn-group.open .btn.dropdown-toggle{
	background:url("../images/up-arrow.png") no-repeat 175px 27px,#303030 !important;
	padding:10px !important;
	text-align:center;
	color:#fff !important;
	font-family:open-sans;
	font-size:20px !important;
	margin-top:-8px;
	width:100%;
	padding: 15px 10px 15px !important;
	
	
	-webkit-border-radius:0 0 10px 10px;
     -moz-border-radius: 0 0 10px 10px;
          border-radius: 0 0 10px 10px;
}
.btn-group > .btn:first-child{
	border:none;
	-webkit-border-radius:0 0 10px 10px;
     -moz-border-radius: 0 0 10px 10px;
          border-radius: 0 0 10px 10px;
}
.dropdown-menu{
	background:#333434;
	color:#fff;
	font-family:open-sans;
	font-size:20px;
	padding:10px !important;
	width:90%;
	opacity:0.7;
}
.dropdown-menu a{
	background:#333434;
	color:#fff;
	font-family:open-sans;
	font-size:16px;
	padding-left:0px;
}
	
.footer-bg{
	background:#8dc14b;
	padding:15px 10px 10px 10px;
	text-align:center;
	color:#fff;
	font-family:open-sans;
	font-size: 14px;
  
}

.item-list ul{
	margin-top:1em !important;
}

.pager a, .pager a:hover{
	background:none !important;
	border:none !important;
	text-transform: capitalize;
}






/* main menu*/


/******sidebar menu ***********/
.menu-block-wrapper .menu{
	background:transparent;
}

.menu-block-wrapper ul{
	margin:0;
	padding:0;
}

.menu-block-wrapper li{
	float:none !important;
	background-image:url("../images/bullet.png") !important;
	background-repeat:no-repeat;
	background-position: left center;
	color:#fff;
	padding: 0 !important;
	padding-left: 10px !important;



}


.menu-block-wrapper li a{
	
	color:#000;
/*padding: 10px 15px !important;
*/
	
}

.menu-block-wrapper li a:hover
{
   color:#901212;
   background:none !important;	
/*   padding: 10px 15px !important;
*/}
.menu-block-wrapper li a.active{
	color:#000 !important;
	background:none !important;
/*	padding: 10px 15px !important;
*/}

.menu-block-wrapper .menu a{
	margin-top:0 !important;	
}


/*.menu-block-wrapper li{
float:none !important;
background:#000;
color:#fff;
}*/

/**********Responsive navigation Menu ************/

.toggleMenu {
    display:  none;
    background: #8cc248;
    padding: 10px 15px;
	color: #fff;
}
.menu {
    list-style: none;
  /*background:#8cc248;*/
}
.menu:before,
.menu:after {
    content: " "; 
    display: table; 
}
.menu:after {
    clear: both;
}
.menu ul {
    list-style: none;
    width: 9em;
	margin-left:2px

}
.menu a {
    padding: 4px 15px;
    color:#fff;
	margin-top:15px;
}
.menu li {
    position: relative;
}
.menu > li {
    float: left;
    /*border-top: 1px solid #104336;*/
}
.menu > li > .parent {
    background-image: url("../images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
	cursor:pointer;
}
.menu > li > a {
    display: block;
	font-family:arial;
	font-size:14px;
	
}
.menu li  ul {
    position: absolute;
    left: -9999px;
}
.menu > li.hover > ul {
    left: 0;
}
.menu li li.hover ul {
    left: 100%;
    top: 0;
}
.node-readmore a
{
   color:#871714 !important;	
}
.node-readmore a:hover
{
   color:#8dc14b !important;
   text-decoration:none !important;	
}
#top-post .node-readmore 
{
   color:#871714 !important;	
}
#top-post .node-readmore:hover
{
   color:#8dc14b !important;
   text-decoration:none !important;	
}

.menu li li a {
    display: block;
    background: #8cc248;
    position: relative;
    z-index:100;
   /* border-top: 1px solid #175e4c;*/
	max-width: 140px;
    min-width: 148px;
	padding: 5px 15px;
	display: block;
    border: 1px solid #79AB3B;
    margin-bottom: -22px;

}
.menu li li li a {
    background:#249578;
    z-index:200;
    border-top: 1px solid #1d7a62;
	max-width: 140px;
    min-width: 120px;
	margin-left: -25px;
}

ul.menu li{
	 
}


ul li.expanded{
list-style-image: none !important;
list-style-type: none !important;
}


ul li.leaf {
    list-style-image: none !important;
    list-style-type: none !important;
}

li a.active
{
  background-color:#fff !important;	
  border-radius: 8px 8px 6px 6px;
    color: #000000;
    margin-top: 15px;
    /*padding: 4px 20px;*/
    text-decoration: none;
}

.menu a:hover
{
   	 background-color:#fff !important;	
     border-radius: 8px 8px 6px 6px;
	 text-decoration:none;
	 /*padding: 4px 20px !important;*/
	
}
.menu li li a:hover
{
   border-radius:0 !important;	
}